// contact Page

// mobile approach here 

.contact_section {
    display: grid;
    width: 300px;
    height: 512px;  
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    


    &:hover {
        transform: scale(1.1);
        transition: all 0.6s ease-in-out;

    }

}


.contactus {
font-family: 'Heavitas';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 20px;
text-align: center;
color: #E94B5C;

}


.small_words2 {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-neutral-1);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    line-height: 20px;

}

    .contactField {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        // default border removing 
        border: none !important;

        // for the remove the default border
        input, textarea {
            border: none !important;
        }
        

    }

    .contact_field {
        background: #EFEFEF;
        border-radius: 30px;
        width: 80%;
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 05px;
        font-size: 18px;
        font-family: var(--font-secondary);
        color: var(--color-neutral-1);
        // box shadow
        box-shadow: 0px 1px 1px 0px #00000040;

            // adding transition
            &:focus {
                background: #fff;
                border: 1px solid #ff485b;
                transition: all 0.3s ease-in-out;
            }

           
            &::placeholder {
                font-size: 15px;
                font-family: var(--font-secondary);
                font-weight: 400;
                padding-left: 10px;
 

            }
           
            &::selection {
                background: #ff485b;
                color: #fff;
            }
    }

   
    .contact_field1 {

        background: #EFEFEF;
        border-radius: 30px;
        width: 80%;
        height: 100px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 05px;
        font-size: 21px;
        font-family: var(--font-secondary);
        color: var(--color-neutral-1);
        box-shadow: 0px 1px 1px 0px #00000040;
        resize: none;
        overflow: auto;
        

        


           
            &:focus {
                background: #fff;
                border: 1px solid #ff485b;
                transition: all 0.3s ease-in-out;
            }

             
            &::placeholder {
                font-size: 15px;
                font-family: var(--font-secondary);
                font-weight: 400;
                padding-left: 10px;
                padding-top: 10px;
 

            }
           
            &::selection {
                background: #ff485b;
                color: #fff;
            }
         
            text-align: left;
           


            
    }

    .btn_learnmore4{
        background-color:  var(--color-primary);
        border-radius: 30px;
        width: 200px;
        padding: 20px;
        color: #fff;
        font-size: 15px;
        box-shadow: 0px 2px 2px 0px #00000040;
        font-family:  Helvetica, sans-serif;
        text-align: center;
        text-decoration: none;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        &:hover {
            background-color: #ff485b;
            transition: all 0.3s ease-in-out;
        }
    }


    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        margin-bottom: 15px;
        display: none;
    }
    
    .success {
        background-color: #4CAF50;
        display: none;
    }
    
    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .closebtn:hover {
        color: black;
    }
    
    
  


   
// desktop approach here
@media (min-width: 768px) { 

    #events {
        margin-top: 80px;
    };

    #contact_sectionx   {
        width: 100%;
        background-image: url(../images/desktop_jpg/background_contact_us.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        height: 450px;
        height: 70vh;
        display: flex;
        justify-content: flex-end;
         position: sticky;
        



    }
    
.contact_section {
    display: grid;
    width: 25%;
    height: 412px;  
    box-shadow: 0px 4px 4px 0px #00000040;
    padding: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #fff;
    border-radius: 30px;
    margin-top: 100px;
    margin-right: 100px;
}

}
 

