// tablet version 

$breakpoint-tablet: 768px;

// media query for tablet

// for tablet, ipad and other devices

@media (min-width: 768px) and (max-width: 1294px) { 
    

    #contact_sectionx   {
        width: 104%;
        background-image: url(../images/desktop_jpg/background_contact_us.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        height: 30vh;
        display: flex;
        justify-content: flex-end;
        position: sticky;
}

.contact_section {
    width:40%;
    margin-right: 62px !important;
}

// testimonial page

.testimonial_event {

    height: 50vh;

}

.box11 {
    min-height: 510px;
}

.headingx1 {
    font-size: 36px;
}
.container_event {
  
    display: flex;
    height: 170vh;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.container {

    display: flex;
    font-size: 34px;
    flex-direction: column;

}


.container p {
    font-size: 34px;
}


// buttons 

 .btn{
 
    font-size: 32px;
    height: 30px;

 }

 .btn4 {
    font-size: 32px;
    height: 30px;
 }

 .headingx {
    font-size: 36px;
 }

 .heroImg {
    // smaller the image
    background-size: UNSET;
    height: 40vh;
    background-position-y: 80px; 

 }
 
 .navbar {
    width: 103%;
    overflow-x: hidden;
   

 }

    body {
        width: 100%;
       
    }

    .navbar-list {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--color-primary); 
        box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
        z-index: 1;
      }
      
      .navbar-list.active {
        display: grid;
          margin-top: 20px;
          align-items: center;
          grid-gap: 20px;
          justify-content: center;
          position: fixed;
      }
     

      .navbar-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        margin-right: 20px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: black;

      }

      .navbar_align{
          font-size: 30px;
          grid-template-rows: repeat(1,1fr);
          align-items: center;
          justify-content: center;
          text-align: center;
      }
      
      .navbar-toggle-icon {
        display: block;
        width: 30px;
        height: 20px;
        position: relative;
        transform: rotate(0deg);
        transition: .15s ease-in-out;
        margin: 9px;
        margin-right: 10px;
      }
      
      .navbar-toggle-icon-bar {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #333;
        opacity: 1;
        transform: rotate(0deg);
        transition: .25 ease-in-out;
      }

      .navbar-toggle-icon-bar {
        display: block;
        position: absolute;
        height: 1;
        width: 100%;
        background: #ffffff;
        opacity: 1;
        transform: rotate(0deg);
        transition: .35 ease-in-out;
      }

      .navbar-toggle-icon-bar:last-child {
          margin-top: 10px; 
      }

      .navbar-toggle-icon-bar:nth-child(2) {
          margin-top: 20px; 
          }
      .btn1, .btn2 {
          display: none;
      }
      


.navbar-toggle.active .navbar-toggle-icon-bar:nth-child(1) {
  transform: rotate(45deg);
  top: 0;
  left: 0;
  transition: .35s ease-in-out;
}

.navbar-toggle.active .navbar-toggle-icon-bar:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active .navbar-toggle-icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  top: 0;
  right: 0;
  margin-top: 0px;

  transition: .35s ease-in-out;

}
    
}





